<div class="login-container">
<div class="login-banner">
    <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Username</mat-label>
        <input matInput type="text"  placeholder="Username">
      </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput type="password" placeholder="password">                  
      </mat-form-field>
<button mat-raised-button>Login</button>
<button mat-raised-button>Cancel</button>
<button mat-raised-button>SignUp</button>
</div>
<div class="SignUp-banner">
    <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Firstname</mat-label>
        <input matInput type="text"  placeholder="Firstname">
      </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Lastname</mat-label>
        <input matInput type="text" placeholder="Lastname">                  
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder="Email">                  
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-checkbox>IsAdmin?</mat-checkbox>                 
      </mat-form-field>
<button mat-raised-button>Submit</button>
<button mat-raised-button>Cancel</button>
</div>
</div>