<div class="login-container">
<form [formGroup]="form"  (ngSubmit)="onSubmit()">
  <h2>Learning Management System</h2>
  <mat-error *ngIf="loginInvalid">
    The username and password were not recognised
  </mat-error>
  <mat-form-field class="full-width-input">
    <input matInput placeholder="Username" formControlName="username" required>
    <mat-error>
      Please provide a valid Username
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <input matInput type="password" placeholder="Password" formControlName="password" required>
    <mat-error>
      Please provide a valid password
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary">Login</button>  
  <h2 style="height: 30px;"></h2>
</form>
</div>